/* Footer */

footer {
    width: 100%;
    padding: 1em 2em;
    background: linear-gradient(to top, #1e1e1e, #3b2e2a); 
    p {
        margin: 0;
        color: white;
        opacity: .45;
    }
    .credits {
        margin-bottom: 1rem;
        > p {
            margin: 0;
            font-size: 15px;
        }
        .credit-groups {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            @media screen and (min-width: 767px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    a:hover {
        color: white!important;
    }
}